html, body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
}

#mapid { height: 180px; }

.content {
  font-weight: 300;
  font-size: 14pt;
  padding: 1rem;
}

h1 {
  font-weight: 300;
  font-size: 30pt;
  padding: 2rem;
  background-color: #007AC9;
  color: #FFFFFF;
  margin: 0;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 20pt;
  padding-left: 2.5rem;
}

button {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  border: 0px solid;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #007AC9;
  color: #FFFFFF;
}

button:hover {
  background-color: #005c99;
  cursor: pointer;
  cursor: hand;
}

button:active {
  background-color: #004370;
  cursor: pointer;
  cursor: hand;
}

button.driver-button {
  font-size: 20pt;
  margin-left: 2.5rem;
}

br {
  border-bottom: 1px #007AC9;
}

.run-animation {
  animation: highlight 1s;
}

.hidden {
  display: none;
}

@keyframes highlight {
  0% {
    background: #DC0451;
  }
  100% {
    background: none;
  }
}

ul {
  list-style: none;
  font-size: 16pt;
  padding-right: 2rem;
}

li {
  padding: 0.7rem;
  border-top: solid 1px #dddddc;
  border-bottom: solid 1px #dddddc;
}

.number {
  float: right;
  font-weight: bold;
  color: #00B9E4;
}

.number.active {
  color: #DC0451;
}

.current-stop-marker.current {
	background: #F092CD;
}

.current-stop-marker.previous {
  background: #BEE4F8;
}

.current-stop-marker {
  color: #FFFFFF;
  padding: 0.1em;
  margin-right: 0.8rem;
	-moz-border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	border-radius: 0.5rem;
}

.current {
  font-size: 22pt;
  background-color: #F4DEEA;
}

.error {
  display: none;
  margin: 1rem;
  padding: 1rem;
  background-color: #EF9A9A;
}
